

          <div class = "container">

           <form action="/output" method="GET">
             <div class="form-group">
                <label for="user_input">Enter your preferences: </label>
                <textarea rows="8" cols="10" input type="text" class="form-control"  name="user_input" placeholder="e.g. A cute spot near the coolest coffee shops"></textarea>
             </div>

      <br>
      <!-- <h4>Additional Filters</h4> -->

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="additional_filters" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>

          <label for="user_input_room_type">Room type: </label> <br>
          <input type="checkbox" name="user_input_room_type_entire" value="user_input_room_type_entire"> Entire Home / Apartment<br>
          <input type="checkbox" name="user_input_room_type_private" value="user_input_room_type_private"> Private Room<br>
          <input type="checkbox" name="user_input_room_type_shared" value="user_input_room_type_shared"> Shared Room<br>
          <br>

     
          <label for="price_range">Price Range: </label> <br>
          <label for="user_input_min_price">Minimum:</label> 
          <input type="number" id="user_input_min_price" name='user_input_min_price'>
          <br>
          <label for="user_input_max_price">Maximum:</label> 
          <input type="number" id="user_input_max_price" name='user_input_max_price'>
          <br><br>

          <label for="n_beds">Number of Beds: </label> 
          <input type="number" id="user_input_n_beds" name='user_input_n_beds'>
          <br> <br>
          <label for="min_rating">Minimum Rating: </label> 
          <input type="number" id="user_input_min_rating" name='user_input_min_rating'>
      </div>
    </div>
    <br> <br>

    <div>
       <button type="submit" class="btn btn-default btn-lg">Find listings with similar reviews!</button>
     </div>


     </form>